.section {
  padding: 80px 20px;
  background-color: var(--grey1);
}
.container {
  max-width: 1304px;
  margin: 0 auto;
  padding: 0px 20px;
  border: 1px solid var(--grey1);
  border-radius: 8px;
  background-color: var(--white);
}

.content {
  padding: 40px;
}

.list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--black);
  background-color: var(--grey1);
  border: 1px solid var(--blue);
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.2s, border 0.2s;
}

.item:hover {
  border: 1px solid var(--blue2);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .section {
    padding: 50px 0px;
  }

  .content {
    padding: 30px 0;
    border-radius: 0;
  }

  .list {
    margin-top: 30px;
    gap: 10px;
  }

  .item {
    padding: 4px 8px;
  }
}
