.section {
  padding: 100px 0;
}

.container {
  max-width: 1304px;
  margin: 0 auto;
  padding: 0px 20px;
}

.list {
  padding-bottom: 10px;
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  gap: 20px;
}

.item {
  min-width: 270px;
}

@media (max-width: 767px) {
  .list {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: var(--blue) var(--blue2);
  }
}
