.slider {
  position: relative;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.slide {
  padding: 20px;
  /* margin: 0 auto; */

  display: flex;
  align-items: center;
  justify-content: center;

  height: 442px;
  width: 100%;

  border: 1px solid var(--grey2);
  border-radius: 8px;
}

.bigImg {
  object-fit: contain;
  /* width: 100%;
  height: 100%; */
}

.smallSlider {
  display: flex;
  align-items: center;
  gap: 6px;
}

.smallSlide {
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 112px;
  height: 112px;

  max-width: 100%;
  max-height: 100%;

  border: 1px solid var(--grey2);
  border-radius: 8px;

  cursor: pointer;
  transition: border 0.2s;
}

.smallSlide:hover {
  border: 1px solid var(--grey4);
}

.smallImg {
  object-fit: contain;
}

.active {
  border: 1px solid var(--blue);
}

@media (max-width: 1239px) {
  .slide {
    margin: unset;
  }

  .slider {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
  }

  .smallSlider {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .slider {
    flex-direction: column;
    margin: 0 auto;
  }

  .smallSlider {
    flex-direction: row;
  }
  .smallSlide {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .slide {
    width: 100%;
  }
}
