.list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link {
  font-weight: 400;
  line-height: 1.4;
  color: var(--grey4);
  transition: color 0.2s;
}

.link:hover {
  color: var(--black);
}

.big {
  font-size: 18px;
}

.medium {
  font-size: 16px;
}

@media (max-width: 1023px) {
  .list {
    gap: 20px;
  }

  .big {
    font-size: 14px;
  }

  .listVertical {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 6px;
  }
}
