.wrapper {
  background-color: var(--white);
  padding: 40px;
  border-radius: 8px;
}

.margin {
  margin: 20px 0 24px;
}

.block {
  display: flex;
  gap: 24px;
}

.imgWrapper1 {
  max-width: 560px;
  margin: 0 auto;
  flex-shrink: 0;
}
.imgWrapper2 {
  max-width: 393px;
  margin: 0 auto;
  flex-shrink: 0;
}

.img {
  object-fit: contain;
  max-width: 100%;
}

.text {
  margin-bottom: 16px;
}

.list {
  margin-bottom: 20px;
}

.item {
  padding-left: 20px;
  position: relative;
  margin-bottom: 10px;
}

.item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: var(--blue);
  border-radius: 100%;
}

@media (max-width: 1199px) {
  .block1 {
    flex-direction: column-reverse;
  }
  .block2 {
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .wrapper {
    padding: 20px;
  }

  .block {
    gap: 0;
  }
}
