.mt {
  margin-top: 40px;
}

.address {
  margin: 20px 0;
  font-style: normal;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--black);
}

@media (max-width: 575px) {
  .address {
    grid-template-columns: 1fr;
    font-size: 16px;
  }
}
