.section {
  padding: 50px 0px;
}
.container {
  max-width: 1304px;
  margin: 0 auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 592px 1fr;
  column-gap: 40px;
}

@media (max-width: 1239px) {
  .container {
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 40px;
  }
}
