.topNav {
  background-color: var(--grey1);
}

.container {
  max-width: 1304px;
  padding: 10px 20px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--grey4);
  transition: color 0.2s;
}

.link:hover {
  color: var(--black);
}

@media (max-width: 1023px) {
  .list {
    column-gap: 20px;
  }

  .link {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .topNav {
    display: none;
  }
}
