.topNav {
  background-color: var(--grey1);
}

.container {
  max-width: 1304px;
  padding: 10px 20px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .topNav {
    display: none;
  }
}
