.title {
}

.small {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--black);
}

.medium {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #333;
}

.large {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  color: var(--black);
}

.center {
  text-align: center;
}

@media (max-width: 767px) {
  .medium {
    font-size: 18px;
  }
}
