.section {
  padding: 50px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 630px;
  background-color: var(--grey1);
  column-gap: 30px;
  padding: 40px;
  border-radius: 8px;
}

.mb {
  margin-bottom: 14px;
}
