.wrapper {
  background-color: var(--grey1);
  padding: 50px 0;
}

.wrapperSection.wrapperSection {
  max-width: 1344px;
  margin: 0 auto 50px;
  padding: 50px 0;
  border-radius: 8px;
}

.wrapperSection.wrapperSection:last-child {
  margin: 0 auto 0;
}

.wrapperNav.wrapperNav {
  padding: 0;
  max-width: 1344px;
  margin: 0 auto 50px;
  border-radius: 8px;
}

.nav {
  background-color: var(--white);
  padding: 40px 0;
  border-radius: 8px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.link {
  padding: 8px 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--black);
  transition: color 0.2s;
}

.link:hover {
  color: var(--blue);
}

.active {
  background-color: var(--white);
}

.title {
  margin-bottom: 24px;
}

@media (max-width: 767.9px) {
  .nav {
    flex-direction: column;
    row-gap: 10px;
  }

  .wrapper {
    padding: 20px 14px;
  }
}
