.wrapper {
  display: flex;
  column-gap: 8px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

.label {
  cursor: pointer;
  user-select: none;
}

.checkbox {
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.iconCheckbox {
  min-width: 20px;
  height: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  min-width: 10;
  min-height: 8px;
}

.red {
  color: var(--red);
}

.red .iconCheckbox {
  border: 2px solid var(--red);
}

.grey {
  color: var(--grey3);
}

.grey .iconCheckbox {
  border: 2px solid var(--grey3);
}

.blue {
  color: var(--blue);
}

.blue .iconCheckbox {
  border: 2px solid var(--blue);
}

.link {
  color: var(--blue);
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .label {
    font-size: 10px;
    color: var(--grey3);
  }
}
