.wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
  /* margin-bottom: 18px; */
}

.line {
  display: inline-block;
  border-radius: 10000px;
  width: 18px;
  height: 1px;
  background-color: var(--grey3);
}
