.characteristic {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.item {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed var(--grey3);
}

.key {
  /* flex-basis: 80%; */
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--black);
}

.value {
  /* flex-basis: 50%; */
  white-space: nowrap;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: var(--black);
}

.analogLink {
  font-weight: 500;
  color: var(--blue);
  transition: color 0.2s ease;
}
.analogLink:hover {
  color: var(--blue2);
}

.content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--black);
  margin: 16px 0;
}

.content li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 10px;
}
.content li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: var(--blue);
  border-radius: 100%;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media (max-width: 767px) {
  .imgWrapper {
    flex-direction: column;
  }
}
