.order {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--white);
}

.orderHeader,
.orderTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orderHeader {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--grey4);
}

.orderTotal {
  padding-top: 24px;
  margin-bottom: 23px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--black);
}

.totalPrice {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  color: var(--black);
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.addFile {
  width: max-content;
  display: inline-block;
  padding: 8px 25px;
  border: 1px solid var(--grey4);
  border-radius: 6px;
  background-color: var(--white);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: var(--black);
  white-space: nowrap;

  cursor: pointer;

  transition: border 0.2s, color 0.2s;

  /* 
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin-bottom: 10px; */
}

.addFile:hover {
  color: var(--blue);
  border: 1px solid var(--blue);
}
