.bubbleList {
  display: flex;
  align-items: center;
  column-gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}

.bubble {
  width: 12px;
  height: 12px;
  border: 1px solid var(--grey2);
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}
.bubble:hover {
  background-color: var(--grey2);
}

.bubbleActive {
  transform: scale(1.2);
  background-color: var(--grey2);
  cursor: pointer;
}

@media (max-width: 767px) {
  .bubble {
    width: 10px;
    height: 10px;
  }
  .bubbleList {
    bottom: 25px;
  }
}
