/* h1 {
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  margin-top: 20px;
  color: #444;
}
p,
ul {
  margin-bottom: 15px;
} */
.section {
  margin-bottom: 30px;
}
.clause {
  margin-left: 20px;
}
