.link {
  display: block;
  padding: 10px 16px 16px;
  background-color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0);
  border: 1px solid var(--grey1);
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 8px;
}

.link:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--blue);
}

.imgWrapper {
  width: 90px;
  height: 90px;
  margin: 0 auto 10px;
}

.img {
  /* height: 90px; */
  object-fit: contain;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconArrow {
  width: 13px;
  height: 13px;
  color: #2c2b2b;
  transform: rotate(-180deg);
  transition: color 0.2s;
}

.link:hover .iconArrow {
  color: var(--blue);
}
