.wrapperDwopDown {
  width: 100%;
}

.button {
  width: 100%;
  padding: 8px 14px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--black);

  border-radius: 8px;
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button.open {
  border-radius: 8px 8px 0 0;
}

.wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: var(--black);
}

.iconArrow {
  min-width: 12px;
  min-height: 12px;
  transform: rotate(270deg);
  transition: transform 0.2s;
}

.iconArrowOpen {
  transform: rotate(90deg);
}

.list {
  border-radius: 0 0 8px 8px;
  background-color: var(--white);
  padding: 8px 14px;

  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
