.email {
  padding: 8px 16px;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: var(--black);
  font-style: normal;
  cursor: pointer;
}

.bgBlue {
  background-color: var(--blue3);
}
.bgGrey {
  background-color: var(--grey3);
}

.emailAdress {
  color: var(--blue);
  transition: color 0.2s;
}
.emailAdress:hover {
  color: var(--blue2);
}

.copy {
  background-color: #a7d9a7;
}
