.listHome {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}

/* // +++ */
.listCategory {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  gap: 20px;
}

.item {
  min-width: 270px;
}

@media (max-width: 1023px) {
  .listCategory {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

@media (max-width: 767px) {
  .listHome {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    scrollbar-color: var(--blue) var(--blue2);
  }
}
