/* h1 {
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  margin-top: 20px;
  color: #444;
}
p,
ul {
  margin-bottom: 15px;
} */

.title {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}
.clause {
  margin-left: 20px;
}

.clause h2,
.clause p,
.clause li {
  padding: 5px 0;
}

.table th,
.table td {
  padding: 4px;
  border: 1px solid var(--blue);
}
