.content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.buttonsGroup {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: center;
  column-gap: 10px;
}

.buttonBlue,
.buttonBorder {
  width: 100%;
  white-space: nowrap;
}

.email {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: var(--black);
  font-style: normal;
}
.link {
  color: var(--blue);
  transition: color 0.2s;
}
.link:hover {
  color: var(--blue2);
}

@media (max-width: 767.9px) {
  .buttonsGroup {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 14px;
  }
  .buttonBorder {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}
