.list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: var(--black);

  transition: color 0.2s;
}

.btn:hover {
  color: var(--blue);
}

.btn.active {
  color: var(--grey3);
}
